
  .boulevard-video__content {
    position: relative;
    padding-top: 32px;
    z-index: 1;
  }

  .boulevard-video__top {
    position: fixed;
    width: 50%;
    margin-left: 47%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .boulevard-video__text-box_container {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 435px;
  }

  .boulevar-video__text-box {
    color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: uppercase;
  }

  .boulevard-video__subtitle {
    font-size: 13px;
    line-height: 21px;
    margin-bottom: 20px;
  }

  .boulevard-video__title {
    font-size: 64px;
    line-height: 68px;
    text-align: center;
  }

  .boulevard-video__scroll-img_container {
    position: fixed;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 790px;
  }

  .boulevard-video__scroll-img {
    width: 175px;
    height: 175px;
    margin-right: 141px;
  }

  @media screen and (max-height: 1020px) {
    .boulevard-video__text-box_container {
      margin-top: 405px;
    }

    .boulevard-video__scroll-img_container {
      margin-top: 720px;
    }
  }

  @media screen and (max-height: 945px) {
    .boulevard-video__text-box_container {
      margin-top: 385px;
    }

    .boulevard-video__scroll-img_container {
      margin-top: 680px;
    }
  }

  @media screen and (max-height: 895px) {
    .boulevard-video__text-box_container {
      margin-top: 355px;
    }

    .boulevard-video__scroll-img_container {
      margin-top: 630px;
    }
  }

  @media screen and (max-height: 845px) {
    .boulevard-video__text-box_container {
      margin-top: 335px;
    }

    .boulevard-video__scroll-img_container {
      margin-top: 600px;
    }
  
    .boulevard-video__title {
      font-size: 60px;
      line-height: 64px;
    }

    .boulevard-video__scroll-img {
      width: 155px;
      height: 155px;
    }
  }

  @media screen and (max-height: 800px) {
    .boulevard-video__text-box_container {
      margin-top: 315px;
    }

    .boulevard-video__scroll-img_container {
      margin-top: 570px;
    }
  
    .boulevard-video__title {
      font-size: 55px;
      line-height: 59px;
    }

    .boulevard-video__scroll-img {
      width: 135px;
      height: 135px;
    }
  }

  @media screen and (max-height: 750px) {
    .boulevard-video__text-box_container {
      margin-top: 295px;
    }

    .boulevard-video__scroll-img_container {
      margin-top: 530px;
    }
  }

  @media screen and (max-height: 705px) {
    .boulevard-video__text-box_container {
      margin-top: 275px;
    }

    .boulevard-video__scroll-img_container {
      margin-top: 500px;
    }
  
    .boulevard-video__title {
      font-size: 52px;
      line-height: 57px;
    }

    .boulevard-video__scroll-img {
      width: 115px;
      height: 115px;
    }
  }

  @media screen and (max-height: 655px) {
    .boulevard-video__text-box_container {
      margin-top: 255px;
    }

    .boulevard-video__scroll-img_container {
      margin-top: 470px;
    }
  
    .boulevard-video__title {
      font-size: 52px;
      line-height: 57px;
    }

    .boulevard-video__scroll-img {
      width: 115px;
      height: 115px;
    }
  }