:root {
    --orange: #D7BE68;
    --brown: #645F57;
    --white: #EEEBE6;
    --black:  #232121;
    --pseudoColorA: #232121;
    --pseudoColorB: #232121;
    --pseudoColorD: #232121;
    --pseudoColorG: #232121;
    --pseudoColorDView: #232121;
    --pseudoColorGView: #232121;
}