.main-landing {
    font-family: 'Inter';
    max-width: 1920px;
    height: 100%;
}

.logo {
    width: 100%;
    height: 100%;
    background-color: var(--brown);
    padding-top: 80px;
}

.logo__header {
    margin-left: 255px;
}

.header-big {
    font-size: 130px;
    line-height: 133px;
}

.logo__header_lux {
    color: var(--orange);
    height: fit-content;
    margin-top: 136px;
    margin-left: 200px;
}

.logo__header_flex_left{
    color: var(--orange);
}

.logo__header_flex {
    display: flex;
    align-items: center;
}

.logo__header_flex_left span{
    color: var(--white);
}

.logo__header_flex_right {
    color: var(--white);
    font-size: 13px;
    line-height: 21px;
    margin-left: 29px;
    text-transform: uppercase;
}

.logo__header_bottom {
    color: var(--white);
    margin-left: 200px;
}

.logo__located {
    color: var(--white);
    font-size: 21px;
    line-height: 28px;
    margin-left: 455px;
    margin-top: 33px;
}

.logo__img-container {
   display: flex;
   justify-content: flex-end;
   padding-right: 140px;
   padding-bottom: 104px;
}

.second__image {
    width: 100%;
}


.third__top_img {
    width: 100%;
}

.third__bottom {
   position: relative;
   background-color: var(--brown);
}

.third__bottom_wide {
    position: relative;
}

.third__bottom_narrow_img {
    position: absolute;
    top: -17px;
    right: 0;
}

.thrid__top_text-box {
    position: absolute;
    top: -80px;
    left: 327px;
    text-transform: uppercase;
    z-index: 10000;
}

.third__top_text-box_bold {
    font-size: 127px;
    line-height: 133px;
    color: var(--orange);
}

.third__top_text-box_bold.top {
    margin-left: 200px;
}

.third__top_text-box_bold-colored {
    font-size: 127px;
    line-height: 133px;
    color: var(--white);
    margin-left: 200px;
}

.third__top_text-box_flex {
    display: flex;
    align-items: flex-end;
}

.third__top_text-box_small {
    color: var(--orange);
    margin-bottom: 15px;
    margin-left: 37px;
    font-size: 22px;
    line-height: 28px;
}

.boulevard {
    background: url('../../static/boulevard.png') no-repeat center center;
    background-attachment: scroll;
    color: var(--white);
    text-transform: uppercase;
    padding-top: 140px;
    padding-bottom: 402px;

}

.boulevard__top {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.boulevard__subtitle {
    text-align: center;
    font-size: 21px;
    line-height: 28px;
}

.boulevard__title {
    margin-top: 82px;
    text-align: center;
    font-size: 69px;
    line-height: 84px;
}

.boulevard__subtitle_bottom {
    margin-top: 82px;
    text-align: center;
    font-size: 13px;
    line-height: 21px;
}

.boulevard__bottom {
    margin-top: 1238px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.boulevard__bottom_subtitle {
    font-size: 24px;
    line-height: 24px;
}

.boulevard__bottom_title {
    margin-top: 44px;
    text-align: center;
    font-size: 64px;
    line-height: 68px;
}

.boulevard__button {
    width: 157px;
    height: 50px;
    margin-top: 44px;
    border: none;
    color: #000;
    background-color: var(--orange);
    border-radius: 1000px;
    font-size: 13px;
    line-height: 17px;
}

.boulevard__link {
    color: var(--white);
    text-decoration: none;
}

.boulevard__link:hover {
    color: var(--white);
    text-decoration: none;
}

@media (max-width: 1800px) {
    .logo__header {
        margin-left: 235px;
    }

    .logo__header_bottom {
        margin-left: 150px;
    }
    
    .logo__located {
        margin-left: 395px;
    }

    .logo__header_lux {
        margin-left: 150px;
    }

    .header-big {
        font-size: 110px;
        line-height: 123px;
    }

    .logo__header_flex_right {
        font-size: 13px;
        line-height: 19px;
    }

    .third__top_text-box_bold {
        font-size: 117px;
        line-height: 123px;
    }    
    
    .third__top_text-box_bold-colored {
        font-size: 117px;
        line-height: 123px;
    }

    .third__bottom_narrow_img {
        top: -22px;
        right: 0;
        width: 581px;
        height: 580px;
    }

    .third__bottom_wide_img {
        width: 1220px;
    }

    .thrid__top_text-box {
        top: -80px;
        left: 307px;
    }

    .third__top_text-box_bold.top {
        margin-left: 180px;
    }

    .third__top_text-box_bold-colored {
        margin-left: 180px;
    }

}

@media (max-width: 1750px) {
    .third__top_text-box_bold {
        font-size: 107px;
        line-height: 113px;
    }    
    
    .third__top_text-box_bold-colored {
        font-size: 107px;
        line-height: 113px;
    }

    .thrid__top_text-box {
        top: -70px;
        left: 307px;
    }
}

@media (max-width: 1700px) {
 
    .third__top_text-box_bold {
        font-size: 102px;
        line-height: 108px;
    }    
    
    .third__top_text-box_bold-colored {
        font-size: 102px;
        line-height: 108px;
    }

    .thrid__top_text-box {
        top: -65px;
        left: 307px;
    }

    .third__bottom_narrow_img {
        top: -22px;
        right: 0;
        width: 561px;
        height: 540px;
    }
    .third__bottom_wide_img {
        width: 1130px;
    }

    .thrid__top_text-box {
        top: -65px;
        left: 297px;
    }

    .third__top_text-box_bold.top {
        margin-left: 170px;
    }

    .third__top_text-box_bold-colored {
        margin-left: 170px;
    }

}

@media (max-width: 1650px) {
    .thrid__top_text-box {
        top: -65px;
        left: 277px;
    }

    .third__bottom_wide_img {
        width: 1110px;
    }

    .third__bottom_narrow_img {
        top: -22px;
        right: 0;
        width: 561px;
        height: 530px;
    }
}


@media (max-width: 1600px) {
    .logo__header {
        margin-left: 215px;
    }

    .logo__header_bottom {
        margin-left: 140px;
    }
    
    .logo__located {
        margin-left: 365px;
    }

    .logo__header_lux {
        margin-left: 140px;
    }

    .header-big {
        font-size: 100px;
        line-height: 103px;
    }

    .logo__header_flex_right {
        font-size: 13px;
        line-height: 19px;
    }
    
    .thrid__top_text-box {
        top: -55px;
        left: 257px;
    }

    .third__top_text-box_bold {
        font-size: 92px;
        line-height: 98px;
    }    
    
    .third__top_text-box_bold-colored {
        font-size: 92px;
        line-height: 98px;
    }

    .third__bottom_wide_img {
        width: 1080px;
    }

    .third__bottom_narrow_img {
        top: -22px;
        right: 0;
        width: 521px;
        height: 515px;
    }

    .third__top_text-box_bold.top {
        margin-left: 160px;
    }

    .third__top_text-box_bold-colored {
        margin-left: 160px;
    }
}

@media (max-width: 1500px) {
    .third__top_text-box_bold {
        font-size: 82px;
        line-height: 88px;
    }    
    
    .third__top_text-box_bold-colored {
        font-size: 82px;
        line-height: 88px;
    }

    .third__bottom_wide_img {
        width: 1030px;
    }

    .third__bottom_narrow_img {
        top: -18px;
        right: 0;
        width: 470px;
        height: 485px;
    }

    .third__top_text-box_small {
        font-size: 19px;
        line-height: 25px;
    }

    .third__top_text-box_bold.top {
        margin-left: 150px;
    }

    .third__top_text-box_bold-colored {
        margin-left: 150px;
    }

    .boulevard__title {
        font-size: 60px;
        line-height: 76px;
    }
}

@media (max-width: 1460px) {
    .logo__header {
        margin-left: 185px;
    }

    .logo__header_bottom {
        margin-left: 130px;
    }
    
    .logo__located {
        margin-left: 325px;
    }

    .logo__header_lux {
        margin-left: 130px;
    }

    .header-big {
        font-size: 90px;
        line-height: 93px;
    }

    .logo__header_flex_right {
        font-size: 13px;
        line-height: 17px;
    }

    .logo__img-container {
        padding-right: 120px;
     }

    .third__bottom_wide_img {
        width: 1010px;
    }

    .third__bottom_narrow_img {
        top: -18px;
        right: 0;
        width: 455px;
        height: 475px;
    }
}

@media (max-width: 1400px) {
    .third__top_text-box_bold {
        font-size: 77px;
        line-height: 83px;
    }    
    
    .third__top_text-box_bold-colored {
        font-size: 77px;
        line-height: 83px;
    }
    .thrid__top_text-box {
        top: -50px;
        left: 247px;
    }

    .third__bottom_wide_img {
        width: 990px;
    }

    .third__bottom_narrow_img {
        top: -18px;
        right: 0;
        width: 450px;
        height: 470px;
    }

    .third__top_text-box_bold.top {
        margin-left: 130px;
    }

    .third__top_text-box_bold-colored {
        margin-left: 130px;
    }

    .third__top_text-box_small {
        margin-left: 30px;
        font-size: 17px;
        line-height: 22px;
    }
}


@media (max-width: 1360px) {
     .third__top_text-box_bold {
        font-size: 67px;
        line-height: 77px;
    }    
    
    .third__top_text-box_bold-colored {
        font-size: 67px;
        line-height: 77px;
    }

    .third__bottom_wide_img {
        width: 950px;
    }

    .third__bottom_narrow_img {
        top: -18px;
        right: 0;
        width: 430px;
        height: 450px;
    }

    .thrid__top_text-box {
        top: -47px;
        left: 247px;
    }

    .third__top_text-box_small {
        font-size: 17px;
        line-height: 23px;
    }
}

@media (max-width: 1300px) {
    .logo__header {
        margin-left: 145px;
    }

    .logo__header_bottom {
        margin-left: 120px;
    }
    
    .logo__located {
        margin-left: 275px;
    }

    .logo__header_lux {
        margin-left: 120px;
    }

    .header-big {
        font-size: 85px;
        line-height: 87px;
    }

    .logo__header_flex_right {
        font-size: 13px;
        line-height: 17px;
    }

    .logo__img-container {
        padding-right: 100px;
     }

     .logo__img-scroll {
        width: 170px;
        height: 170px;
     }
    .third__bottom_wide_img {
        width: 880px;
    }

    .third__bottom_narrow_img {
        top: -18px;
        right: 0;
        width: 405px;
        height: 415px;
    }

    .thrid__top_text-box {
        top: -45px;
        left: 227px;
    }

    .third__top_text-box_bold.top {
        margin-left: 110px;
    }

    .third__top_text-box_bold-colored {
        margin-left: 110px;
    }

    .third__top_text-box_small {
        margin-left: 25px;
        font-size: 15px;
        line-height: 20px;
    }
}

@media (max-width: 1215px) {
     .third__bottom_wide_img {
        width: 840px;
    }

    .third__bottom_narrow_img {
        top: -18px;
        right: 0;
        width: 375px;
        height: 400px;
    }

    .thrid__top_text-box {
        top: -45px;
        left: 207px;
    }

    .third__top_text-box_bold.top {
        margin-left: 100px;
    }

    .third__top_text-box_bold-colored {
        margin-left: 100px;
    }

    .third__top_text-box_small {
        margin-left: 22px;
        font-size: 13px;
        line-height: 18px;
    }

    .boulevard__title {
        font-size: 50px;
        line-height: 65px;
    }
}

@media (max-width: 1150px) {
    .third__bottom_wide_img {
        width: 740px;
    }

    .third__bottom_narrow_img {
        top: -18px;
        right: 0;
        width: 395px;
        height: 355px;
    }

    .thrid__top_text-box {
        top: -40px;
        left: 197px;
    }

    .third__top_text-box_bold {
        font-size: 57px;
        line-height: 63px;
    }    
    
    .third__top_text-box_bold-colored {
        font-size: 57px;
        line-height: 63px;
    }

    .third__top_text-box_small {
        font-size: 15px;
        line-height: 19px;
    }

    .third__top_text-box_bold.top {
        margin-left: 90px;
    }

    .third__top_text-box_bold-colored {
        margin-left: 90px;
    }

    .boulevard__bottom_title {
        font-size: 58px;
        line-height: 62px;
    }
}

@media (max-width: 1115px) {
    .logo__header {
        margin-left: 115px;
    }

    .logo__header_bottom {
        margin-left: 110px;
    }
    
    .logo__located {
        margin-left: 235px;
        font-size: 21px;
    }

    .logo__header_lux {
        margin-left: 110px;
    }

    .header-big {
        font-size: 80px;
        line-height: 82px;
    }

    .logo__header_flex_right {
        font-size: 12px;
        line-height: 15px;
    }

    .logo__img-container {
        padding-right: 70px;
     }
     .logo__img-scroll {
        width: 150px;
        height: 150px;
     }
    
     .third__top_text-box_small {
        margin-left: 18px;
        font-size: 12px;
        line-height: 16px;
    }
}

@media (max-width: 1100px) {
    .third__bottom_wide_img {
        width: 720px;
    }

    .third__bottom_narrow_img {
        top: -18px;
        right: 0;
        width: 375px;
        height: 345px;
    }
}


@media (max-width: 1050px) {
    .third__bottom_wide_img {
        width: 700px;
    }

    .third__bottom_narrow_img {
        top: -18px;
        right: 0;
        width: 355px;
        height: 335px;
    }
}

@media(max-width: 1000px) {
    .header-big {
        font-size: 70px;
        line-height: 72px;
    }
    .logo__header {
        margin-left: 115px;
    }

    .logo__header_bottom {
        margin-left: 100px;
    }
    
    .logo__located {
        margin-left: 220px;
        font-size: 18px;
    }

    .logo__header_lux {
        margin-left: 100px;
    }

    .logo__header_flex_right {
        font-size: 11px;
        line-height: 13px;
    }
    .third__bottom_wide_img {
        width: 680px;
    }

    .third__bottom_narrow_img {
        top: -18px;
        right: 0;
        width: 305px;
        height: 325px;
    }

    .thrid__top_text-box {
        top: -40px;
        left: 177px;
    }

    .boulevard__title {
        font-size: 40px;
        line-height: 60px;
    }

    .boulevard__subtitle_bottom {
        font-size: 11px;
        line-height: 19px;
    }

    .boulevard__bottom_title {
        font-size: 52px;
        line-height: 58px;
    }
}

@media(max-width: 920px) {
    .logo__header {
        margin-left: 105px;
    }

    .logo__header_bottom {
        margin-left: 90px;
    }
    
    .logo__located {
        margin-left: 200px;
    }

    .logo__header_lux {
        margin-left: 90px;
    }
    .logo__header_flex_right {
        font-size: 11px;
        line-height: 11px;
    }
    .logo__img-scroll {
        width: 120px;
        height: 120px;
    }

    .header-big {
        font-size: 60px;
        line-height: 62px;
    }

    .third__bottom_narrow_img {
        top: -16px;
        right: 0;
        width: 265px;
        height: 305px;
    }

    .third__bottom_wide_img {
        width: 640px;
    }
    .thrid__top_text-box {
        top: -40px;
        left: 157px;
    }
}

@media(max-width: 850px) { 
    .third__bottom_narrow_img {
        top: -10px;
        right: 0;
        width: 225px;
        height: 285px;
    }

    .third__bottom_wide_img {
        width: 610px;
    }
    .thrid__top_text-box {
        top: -40px;
        left: 157px;
    }
    .third__top_text-box_bold {
        font-size: 50px;
        line-height: 58px;
    }    
    
    .third__top_text-box_bold-colored {
        font-size: 50px;
        line-height: 58px;
    }

    .third__top_text-box_small {
        font-size: 13px;
        line-height: 17px;
        margin-bottom: 9px;
    }

    .third__top_text-box_bold.top {
        margin-left: 80px;
    }

    .third__top_text-box_bold-colored {
        margin-left: 80px;
    }

    .boulevard {
        padding-top: 100px;
    }

    .boulevard__title {
        font-size: 30px;
        line-height: 45px;
    }

    .boulevard__subtitle {
        font-size: 17px;
        line-height: 24px;
    }
     .boulevard__subtitle_bottom {
        font-size: 10px;
        line-height: 17px;
    }
}

@media(max-width: 780px) {
    .logo {
        padding-top: 50px;
    }
    .logo__header {
        margin-left: 85px;
    }

    .logo__header_bottom {
        margin-left: 70px;
    }
    
    .logo__located {
        margin-left: 160px;
        margin-top: 25px;
        font-size: 15px;
        line-height: 18px;
    }

    .logo__header_lux {
        margin-left: 70px;
        margin-top: 116px;
    }
    .logo__header_flex_right {
        font-size: 10px;
        line-height: 10px;
    }
    .header-big {
        font-size: 50px;
        line-height: 52px;
    }

    .logo__img-container {
        padding-bottom: 80px;
     }

     .third__bottom_narrow_img {
        top: -7px;
        right: 0;
        width: 205px;
        height: 260px;
    }

    .third__bottom_wide_img {
        width: 560px;
    }
    .thrid__top_text-box {
        top: -35px;
        left: 127px;
    }
}

@media(max-width: 720px) { 
    .third__bottom_narrow_img {
        top: -8px;
        right: 0;
        width: 205px;
        height: 240px;
    }

    .third__bottom_wide_img {
        width: 510px;
    }

    .thrid__top_text-box {
        top: -30px;
        left: 137px;
    }
    .third__top_text-box_bold {
        font-size: 40px;
        line-height: 48px;
    }    
    
    .third__top_text-box_bold-colored {
        font-size: 40px;
        line-height: 48px;
    }

    .third__top_text-box_small {
        font-size: 11px;
        line-height: 14px;
        margin-bottom: 5px;
    }

    .third__top_text-box_bold.top {
        margin-left: 80px;
    }

    .third__top_text-box_bold-colored {
        margin-left: 80px;
    }
}

@media(max-width: 680px) {
    .logo__header {
        margin-left: 85px;
    }

    .logo__header_bottom {
        margin-left: 60px;
    }
    
    .logo__located {
        margin-left: 150px;
        font-size: 15px;
        line-height: 18px;
    }

    .logo__header_lux {
        margin-left: 60px;
    }
    .logo__header_flex_right {
        font-size: 9px;
        line-height: 9px;
        margin-left: 15px;
    }
    .header-big {
        font-size: 40px;
        line-height: 42px;
    }

    .logo__img-scroll {
        width: 100px;
        height: 100px;
    }

    .third__bottom_narrow_img {
        top: -8px;
        right: 0;
        width: 195px;
        height: 220px;
    }

    .third__bottom_wide_img {
        width: 470px;
    }

    .thrid__top_text-box {
        top: -30px;
        left: 117px;
    }
    .third__top_text-box_bold.top {
        margin-left: 70px;
    }

    .third__top_text-box_bold-colored {
        margin-left: 70px;
    }

    .boulevard__bottom_title {
        font-size: 45px;
        line-height: 50px;
    }
    
}

@media(max-width: 630px) { 
    .third__bottom_narrow_img {
        top: -6px;
        right: 0;
        width: 175px;
        height: 205px;
    }

    .third__bottom_wide_img {
        width: 440px;
    }
    .thrid__top_text-box {
        top: -30px;
        left: 117px;
    }
    .third__top_text-box_bold {
        font-size: 35px;
        line-height: 40px;
    }    
    
    .third__top_text-box_bold-colored {
        font-size: 35px;
        line-height: 40px;
    }

    .third__top_text-box_small {
        font-size: 10px;
        line-height: 12px;
        margin-bottom: 5px;
    }

    .third__top_text-box_bold.top {
        margin-left: 60px;
    }

    .third__top_text-box_bold-colored {
        margin-left: 60px;
    }
}

@media(max-width: 576px) {
    .logo__header {
        margin-left: 85px;
    }

    .logo__header_bottom {
        margin-left: 40px;
    }
    
    .logo__located {
        margin-left: 130px;
        font-size: 12px;
        line-height: 15px;
    }

    .logo__header_lux {
        margin-left: 40px;
    }
    .logo__header_flex_right {
        font-size: 7px;
        line-height: 8px;
        margin-left: 15px;
    }
    .header-big {
        font-size: 30px;
        line-height: 32px;
    }

    .logo__img-scroll {
        width: 90px;
        height: 90px;
    }

    .third__bottom_narrow_img {
        top: -10px;
        right: 0;
        width: 150px;
        height: 195px;
    }

    .third__bottom_wide_img {
        width: 410px;
    }

    .thrid__top_text-box {
        top: -25px;
        left: 107px;
    }

    .third__top_text-box_small {
        margin-left: 10px;
    }

    .boulevard__title {
        font-size: 25px;
        line-height: 40px;
    }

    .boulevard__subtitle {
        font-size: 14px;
        line-height: 20px;
    }

    .boulevard__bottom_title {
        font-size: 40px;
        line-height: 45px;
    }
}

@media(max-width: 530px) { 
    .third__bottom_narrow_img {
        top: -8px;
        right: 0;
        width: 135px;
        height: 180px;
    }

    .third__bottom_wide_img {
        width: 380px;
    }

    .thrid__top_text-box {
        top: -23px;
        left: 100px;
    }
    .third__top_text-box_bold {
        font-size: 30px;
        line-height: 35px;
    }    
    
    .third__top_text-box_bold-colored {
        font-size: 30px;
        line-height: 35px;
    }

    .third__top_text-box_small {
        font-size: 9px;
        line-height: 11px;
        margin-bottom: 5px;
    }

    .third__top_text-box_bold.top {
        margin-left: 50px;
    }

    .third__top_text-box_bold-colored {
        margin-left: 50px;
    }
}

@media(max-width: 476px) {
    .third__bottom_narrow_img {
        top: -8px;
        right: 0;
        width: 125px;
        height: 160px;
    }

    .thrid__top_text-box {
        top: -18px;
        left: 85px;
    }

    .third__bottom_wide_img {
        width: 335px;
    }

    .third__top_text-box_bold {
        font-size: 25px;
        line-height: 30px;
    }    
    
    .third__top_text-box_bold-colored {
        font-size: 25px;
        line-height: 30px;
    }

    .third__top_text-box_small {
        font-size: 8px;
        line-height: 10px;
        margin-bottom: 5px;
    }

    .third__top_text-box_bold.top {
        margin-left: 40px;
    }

    .third__top_text-box_bold-colored {
        margin-left: 40px;
    }

    .logo__header {
        margin-left: 55px;
    }
    
    .logo__located {
        margin-left: 100px;
    }

    .logo__img-container {
        padding-bottom: 50px;
        padding-right: 40px;
     }
}



